<h2>Password Reset Request</h2>
<p>Hello {{ user.email }},</p>
<p>Click the button below to reset your password:</p>
<p style="text-align:center;">
    <a href="{{ resetUrl }}" style="background-color:#4CAF50;color:white;padding:12px 20px;
    text-decoration:none;border-radius:5px;display:inline-block;">Reset Password</a>
</p>
<p>If you didn't request this, ignore this email.</p>
<p>Thanks,<br>Library System</p>
